// Main SCSS-file for the Chehov tasks
:root {
	color-scheme: only light;
}




@import "variables/variables";

// правила только для экранов
@import "medias/screen";

// правила только для печати
@import "medias/print";

.printPageBreak {
	page-break-before: always;
	margin-top: 1.5rem;
}

body {
	@media screen {
		padding-top: 100px;
		padding-bottom: 80px;
		min-width: 320px;
	}

	nav.navbar {
		min-width: 320px;
	}
}

// полоска для разграничения номера задания при печати
.taskNumber~hr {
	// font-size: 2rem;
	// font-weight: bold;
	// margin-bottom: 45px;
	margin-bottom: 4rem;
}

.speechBubble {
	// font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	margin-top: 3rem;
	// margin-bottom: 1.5rem;

	padding: 8px 14px 10px;
	border-radius: 8px;
	display: inline-block;
	position: relative;

	word-spacing: 2px;

	&.withAvatar {
		margin-left: 85px;
		margin-right: 24px;


		&.right {
			margin-left: 24px;
			margin-right: 85px;

			@media (max-width: $mobilePhoneWidth) {
				// margin-left: inherit;
				// display: block;
				// margin-top: 50px !important;
				margin-right: 56px;
			}

			.speechAuthor {
				right: 16px;
			}
		}


		@media (max-width: $mobilePhoneWidth) {
			// margin-left: inherit;
			display: block;
			// margin-top: 50px !important;
			margin-left: 56px;
		}
	}

	@media print {
		// border: 1px solid #bbb;
		// break-inside: avoid;
	}


	.speechAuthor {
		color: rgb(188, 188, 188);
		position: absolute;
		top: -22px;
		font-size: 0.85rem;
		font-weight: bold;
		letter-spacing: 0.5px;
		word-spacing: 3px;

		transition: all 1s;

		@media (max-width: $mobilePhoneWidth) {
			// left: 60px;
		}
	}

	@for $i from 0 to 40 {
		.avatar-#{$i} {
			background-image: url(../images/persons/#{$i}-dop.png?kkey=#{ random(1000000)
		}),
		url(../images/persons/#{$i}.png?kkey=#{ random(1000000)
	}) // url(../images/persons/circle.png);

}
}

.avatar {
	// mix-blend-mode: darken;
	position: absolute;
	top: -71px;
	left: -105px;
	width: 120px;
	height: 120px;
	background-size: 100%, 100%;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	// background-blend-mode: normal, normal, normal;

	transition: all 0.7s;
	// z-index: -1;

	@media (max-width: $mobilePhoneWidth) {
		top: -52px;
		top: -57px;
		left: -71px;
		width: 85px;
		height: 85px;
		background-size: 80px 80px;
		background-position: 50% 70%;

	}


}


.avatarCircle {
	position: absolute;
	top: -40px;
	left: -80px;
	width: 70px;
	height: 70px;
	border: 2px solid #ddd;
	border-radius: 50%;

	@media (max-width: $mobilePhoneWidth) {
		top: -39px;
		left: -55px;
		width: 54px;
		height: 54px;
	}

}

&.right {
	align-self: flex-end;

	.avatar {
		left: inherit;
		right: -105px;
		transform: scaleX(-1);

		@media (max-width: $mobilePhoneWidth) {
			// top: -52px;
			// top: -57px;
			left: inherit;
			right: -71px;
			// width: 85px;
			// height: 85px;
			// background-size: 80px 80px;
			// background-position: 50% 70%;

		}
	}

	.avatarCircle {
		left: inherit;
		right: -80px;

		@media (max-width: $mobilePhoneWidth) {
			// top: -39px;
			left: inherit;
			right: -55px;
			// width: 54px;
			// height: 54px;
		}
	}
}

&:hover {

	.avatar {
		// width: 150px;
		// height: 150px;
		transform-origin: 60px 60px;
		transform: scale(1.25) rotate(-6deg);
		background-size: 100%, 100%;
		background-position: center, center;
	}


	&.right {
		.avatar {
			transform-origin: 60px 60px;
			transform: scaleX(-1.25) scaleY(1.25) rotate(-6deg);
			background-size: 100%, 100%;
			background-position: center, center;

			@media (max-width: $mobilePhoneWidth) {
				transform-origin: 43px 60px;
			}
		}

	}

	.speechAuthor {
		color: black;

		@media (prefers-color-scheme: dark) {
			color: white;
		}
	}
}
}

.question {
	background-color: #914F5322;
	font-weight: bold;
	font-size: 1.04rem;
	line-height: 1.3;

	// transition: all 0.6s;

	&:hover {
		// background-color: rgb(236, 236, 236);
	}

	p {
		text-indent: 1.5rem;
		margin-top: 0;
		margin-bottom: 0;

		&:first-of-type {
			text-indent: inherit;
		}
	}
}

.answer {
	background-color: #918D4F22;
}


.chatbooklogo {
	// margin-left: 20px;
	// margin-right: 20px;
	transition: all 0.6s;

	&:hover {
		opacity: 0.5;
		// transform: rotateZ(-6deg) scale(1.62);
	}
}

.chehov-navbar {
	// background-color: #ae937e !important; // #916c4fbb !important;
	background-color: #916c4f !important;
	// background-color: red !important;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(255 255 255 / 15%);

	.container-fluid {
		max-width: 640px;
	}
}

input[type="submit"] {
	background-color: #916c4f !important;
	border: none;
}


.chehov-main-container {
	max-width: 640px;
	margin-top: 30px;
	// overflow-x: hidden;
}

.taskNumber {
	color: gray;
}

.colontitul {
	text-align: right;
	margin-top: -2rem;
	color: gray;
}

.speechBubblesWrapper {
	display: flex;
	flex-direction: column;
}


legend {
	font-size: 110%;
	line-height: 1.1;
}

.r-stretch {
	align-self: stretch !important;
}

.avoidPageBreakInside {
	page-break-inside: avoid !important;
}

.chehov-navbar .container-fluid {
	flex-wrap: nowrap;

	a.navbar-brand {
		// max-width: 50vw;
		overflow: hidden;
		margin-left: 0;
		margin-right: 8px;
		padding-left: 0;
		min-width: 48px;
		text-overflow: ellipsis;
	}

}

#BookAASKeyGlaz {
	cursor: pointer;
	transition: all 600ms;
}

.container.chehov-main-container fieldset {
	background-color: #918D4F22 !important;
}

.bg-ira1 {
	background-color: #4F918D77 !important;
}

.bg-ira11 {
	background-color: #8EA35C !important;
}

.bg-ira12 {
	background-color: #715CA3 !important;
}

.bg-ira13 {
	background-color: #5CA395 !important;
}

:root {
	--bg-ira13: #5CA395;
}

.bg-ira14 {
	background-color: #A35C6A !important;
}

.bg-ira-main {
	background-color: #916c4f !important;
	color: white;
}

#makePrint,
#makePrintWithValues,
#clearForm {
	cursor: pointer;
	display: inline-flex;
	background-color: #916c4f;
	color: white;
	border-radius: 6px;
	padding: 4px 10px;
	font-weight: bold;
	// position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
}

#makePrintWithValues {
	opacity: 0.35;
	cursor: inherit;
}

.offcanvas-body {
	overflow-y: auto;

	p {
		text-indent: inherit;
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
}

.prevNextContainer {
	// padding: 6px 24px;
	box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(255 255 255 / 15%);
	height: 32px;
	// background-color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	position: fixed;
	bottom: 0;
	transition: all 0.6s;
	// width: 100vw;
	left: 0;
	right: 0;
	background-color: #ded3ca;
	background-color: #f0f0e8;
	color: #00000099;

	// opacity: 0.3;

	@media print {
		display: none;
	}

	&:hover {
		// opacity: 1;
		color: #fff;
		background-color: #916c4f;
	}

	@media (max-width: 640px) {
		background-color: #916c4f;
		color: #fff;
		// opacity: 1;
	}

	.prevTask,
	.nextTask {
		// position: fixed;
		// z-index: 1;
		// width: 540px;
		height: 32px;
		border-radius: 4px;
		// background-color: #916c4f;
		// bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		// color: white;
		// opacity: 0.2;
		cursor: pointer;
		// font-weight: bold;
		font-weight: 100;
		// font-size: 160%;
		// transition: all 0.7s;

		span.shortPrevNextCaption {
			display: none;
		}

		@media (max-width:900px) {
			// width: 40vw;

			span.longPrevNextCaption {
				display: none;
			}

			span.shortPrevNextCaption {
				display: inherit;
			}
		}



	}

}

input[type="checkbox"],
.form-select {
	border-color: #5CA39588;

	&:focus {
		box-shadow: 0 0 0 0.25rem #5CA39544;
	}

	&:checked {
		background-color: #5CA395;
	}
}