// Main SCSS-file for the Chehov tasks



@import "variables/variables";

// правила только для экранов
@import "medias/screen";

// правила только для печати
@import "medias/print";

.printPageBreak {
   page-break-before: always;
   margin-top: 1.5rem;
}

body {
   @media screen {
      padding-top: 100px;
      padding-bottom: 80px;
      min-width: 320px;
   }

   nav.navbar {
      min-width: 320px;
   }
}

// полоска для разграничения номера задания при печати
.taskNumber~hr {
   // font-size: 2rem;
   // font-weight: bold;
   // margin-bottom: 45px;
   margin-bottom: 4rem;
}

.speechBubble {
   // font-family: 'Open Sans', sans-serif;
   line-height: 1.5;
   margin-top: 3rem;
   // margin-bottom: 1.5rem;

   padding: 8px 14px 10px;
   border-radius: 8px;
   display: inline-block;
   position: relative;

   word-spacing: 2px;

   &.withAvatar {
      margin-left: 85px;
      margin-right: 24px;


      &.right {
         margin-left: 24px;
         margin-right: 85px;

         @media (max-width: $mobilePhoneWidth) {
            // margin-left: inherit;
            // display: block;
            // margin-top: 50px !important;
            margin-right: 56px;
         }

         .speechAuthor {
            right: 16px;
         }
      }


      @media (max-width: $mobilePhoneWidth) {
         // margin-left: inherit;
         display: block;
         // margin-top: 50px !important;
         margin-left: 56px;
      }
   }

   @media print {
      // border: 1px solid #bbb;
      // break-inside: avoid;
   }


   .speechAuthor {
      color: rgb(188, 188, 188);
      position: absolute;
      top: -22px;
      font-size: 0.85rem;
      font-weight: bold;
      letter-spacing: 0.5px;
      word-spacing: 3px;

      transition: all 1s;

      @media (max-width: $mobilePhoneWidth) {
         // left: 60px;
      }
   }

   @for $i from 0 to 40 {
      .avatar-#{$i} {
         background-image: url(../images/persons/#{$i}-dop.png),
         url(../images/persons/#{$i}.png) // url(../images/persons/circle.png);

      }
   }

   .avatar {
      // mix-blend-mode: darken;
      position: absolute;
      top: -71px;
      left: -105px;
      width: 120px;
      height: 120px;
      background-size: 100%, 100%;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      // background-blend-mode: normal, normal, normal;

      transition: all 0.7s;
      // z-index: -1;

      @media (max-width: $mobilePhoneWidth) {
         top: -52px;
         top: -57px;
         left: -71px;
         width: 85px;
         height: 85px;
         background-size: 80px 80px;
         background-position: 50% 70%;

      }


   }


   .avatarCircle {
      position: absolute;
      top: -40px;
      left: -80px;
      width: 70px;
      height: 70px;
      border: 2px solid #ddd;
      border-radius: 50%;

      @media (max-width: $mobilePhoneWidth) {
         top: -39px;
         left: -55px;
         width: 54px;
         height: 54px;
      }

   }

   &.right {
      align-self: flex-end;

      .avatar {
         left: inherit;
         right: -105px;
         transform: scaleX(-1);

         @media (max-width: $mobilePhoneWidth) {
            // top: -52px;
            // top: -57px;
            left: inherit;
            right: -71px;
            // width: 85px;
            // height: 85px;
            // background-size: 80px 80px;
            // background-position: 50% 70%;

         }
      }

      .avatarCircle {
         left: inherit;
         right: -80px;

         @media (max-width: $mobilePhoneWidth) {
            // top: -39px;
            left: inherit;
            right: -55px;
            // width: 54px;
            // height: 54px;
         }
      }
   }

   &:hover {

      .avatar {
         // width: 150px;
         // height: 150px;
         transform-origin: 60px 60px;
         transform: scale(1.25) rotate(-6deg);
         background-size: 100%, 100%;
         background-position: center, center;
      }


      &.right {
         .avatar {
            transform-origin: 60px 60px;
            transform: scaleX(-1.25) scaleY(1.25) rotate(-6deg);
            background-size: 100%, 100%;
            background-position: center, center;

            @media (max-width: $mobilePhoneWidth) {
               transform-origin: 43px 60px;
            }
         }

      }

      .speechAuthor {
         color: black;

         @media (prefers-color-scheme: dark) {
            color: white;
         }
      }
   }
}

.question {
   background-color: rgb(224, 249, 245);
   font-weight: bold;
   font-size: 1.04rem;
   line-height: 1.3;

   // transition: all 0.6s;

   &:hover {
      background-color: rgb(236, 236, 236);
   }
}

.answer {
   background-color: rgb(255, 253, 202);
}


.chatbooklogo {
   // margin-left: 20px;
   // margin-right: 20px;
   transition: all 0.6s;

   &:hover {
      // transform: rotateZ(-6deg) scale(1.62);
   }
}

.chehov-navbar {
   background-color: #712cf9 !important;
   box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(255 255 255 / 15%);

   .container-fluid {
      max-width: 640px;
   }
}



.chehov-main-container {
   max-width: 640px;
   margin-top: 30px;
}

.taskNumber {
   color: gray;
}

.colontitul {
   text-align: right;
   margin-top: -2rem;
   color: gray;
}

.speechBubblesWrapper {
   display: flex;
   flex-direction: column;
}


legend {
   font-size: 110%;
   line-height: 1.1;
}

.r-stretch {
	align-self: stretch !important;
}

.avoidPageBreakInside {
	page-break-inside: avoid !important;
}

.chehov-navbar .container-fluid {
	flex-wrap: nowrap;

	a.navbar-brand {
		// max-width: 50vw;
		overflow: hidden;
		margin-left: 0;
		margin-right: 8px;
		padding-left: 0;
	}

}