.inst {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr;
	grid-template-rows: 60px 100px;

	width: 620px;

	.instMenu {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 7;
		background-image: url(../images/instMenu.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.psevdoAvatar {
		border-radius: 50%;
		border: 1px solid black;
		width: 140px;
		height: 140px;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.instName {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.instMessage {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.instinfo {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.instMinuPup {
		grid-column-start: 3;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 4;
	}

	// Место для катинки поста

	.instPost {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 5;
	}

	.instLike {
		grid-column-start: 2;
		grid-column-end: 7;
		grid-row-start: 5;
		grid-row-end: 6;
		opacity: 0.3;
	}


}

.round {
	border-radius: 50%;
	width: 100%;

}


table {
	width: 100%;
	border-radius: 12px;

	th,
	td {
		border: 1px solid gray;
		padding: 8px;
		// text-align: center;
	}

	tr {
		height: 250px;
		page-break-inside: avoid;
	}

	td {
		width: 10%;
	}

	thead>tr {
		height: 50px;
	}

	thead>tr>th,
	tbody>tr>td {
		width: 100px;
	}
}



.container.chehov-main-container fieldset {
	border-radius: 12px;
	background-color: #fffdca;
	border: none !important;
}

.instAdviceLike {
	opacity: 0.25
}