@import "variables/variables";


table {
    width: 100%;

    th,
    td {
        border: 1px solid gray;
        padding: 8px;
    }

    thead tr {
        height: 50px;
    }

    tr {
        height: 100px;
        width: 30%;
        page-break-inside: avoid;

        :first-child {
            width: 30%;
        }
    }

}