.facebook {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 200px 55px 30px;
    /* position: relative; */
}

.line {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.photo {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fon {
    // height: 20%;
    width: auto;
    overflow: hidden;
}

.userPhoto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    /* position: absolute;
    margin: 550px 0 0 1%; */
}

.userPhotoName {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.friendsMassege {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.publish {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lentaAstrov {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

}

.lentaElena {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}

#lentaAstrov {
    width: 100%;
    height: 50px;
}

#lentaElena {
    width: 100%;
    height: 50px;
}

.round {
    border-radius: 50%;
    width: 100%;
    margin-top: -70%;
}

.cap {
    display: block;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}