form {
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background-color: #fffdca;
        margin-left: 40px;

        legend {
            margin-left: 45px;
        }

        textarea {
            border-radius: 5px;
            padding: 12px 20px;
            resize: none;
            border: 1px solid #ddd;
            margin-bottom: 10px;
        }
    }
}