.cyrilic {
	list-style-type: none;
}

.cyrilic li:nth-child(1)::before {
	content: 'а) ';
}

.cyrilic li:nth-child(2)::before {
	content: 'б) ';
}

.cyrilic li:nth-child(3)::before {
	content: 'в) ';
}

.image-container {
	width: 100%;
	overflow-x: auto;
	border-radius: 12px;
	border: 1px solid #ddd;

	@media print {
		width: 50%;
	}

}

#map {
	width: 100%;

	// margin-bottom: 50px;
}


.circle {
	position: absolute;
	width: 20px;
	height: 20px;
	// background-color: red;
	border-radius: 50%;
	z-index: 1;
	opacity: 0.7;
}

.circle-1 {
	background-color: red;
}

.circle-2 {
	background-color: blue;
}

.circle-3 {
	background-color: green;
}

.cont {
	display: grid;
	grid-template-columns: auto 8fr 4fr;
	grid-gap: 12px;
	// align-items: center;
}