.inst {
    display: grid;
    grid-template-columns: repeat(50px 100px 50px 50px 50px 100px);
    grid-template-rows: repeat(16, 100px);

    .instMenu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .psevdoAvatar {
        border-radius: 50%;
        border: 1px solid black;
        width: 140px;
        height: 140px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .instName {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .instMessage {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .instinfo {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .instMinuPup {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    // Место для катинки поста

    .instPost {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .instLike {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .instMain {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 13;
    }

    .instAdviceLike {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 13;
        grid-row-end: 14;
    }

    .instComments {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 14;
        grid-row-end: 16;
    }
}


textarea {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;
}