
.rateWithStars {
	width: 270px;
	height: 40px;
	margin-right: 70px;
}
.rateWithStars:not(:checked) > input {
	display: none;
}
.rateWithStars:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rateWithStars:not(:checked) > label:before {
	content: '★';
}

.rateWithStars > input:checked ~ label {
	color: gold;
}

.bigForPrint {
    @media print {
        height: 9cm;
    }
}