.textAreaVoinitsky,
.textAreaAstrov,
.textAreaSerebryakov,
.textAreaElenaAndreevna,
.textAreaSonya {
    position: relative;

    &::after {
        content: 'Войницкий';
        position: absolute;
        top: 28px;
        right: -18px;
        transform: rotate(90deg);
        font-weight: bold;
        opacity: 0.3;
        width: 84px;
        height: 30px;
        font-size: 12px;
        text-align: center;
    }
}

.textAreaAstrov {

    &::after {
        content: 'Астров';
    }
}

.textAreaSerebryakov {

    &::after {
        content: 'Серебряков';
    }
}

.textAreaElenaAndreevna {

    &::after {
        content: 'Елена Андреевна';
    }
}

.textAreaSonya {

    &::after {
        content: 'Соня';
    }
}

.container.chehov-main-container fieldset {
    border-radius: 12px;
    background-color: #fffdca;
    border: none !important;
    page-break-inside: avoid;
}

.container.chehov-main-container .fieldset-example {

    background-color: rgb(224, 249, 245);

}

.example {
    display: block;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    height: 84px;
    position: relative;
    padding: 0.375rem 0.75rem;

    &::after {
        content: 'Телегин';
        position: absolute;
        top: 28px;
        right: -18px;
        transform: rotate(90deg);
        font-weight: bold;
        opacity: 0.3;
        width: 84px;
        height: 30px;
        font-size: 12px;
        text-align: center;
    }
}

fielset {
    page-break-inside: avoid !important;
}