// .main {}


// .mem {
// 	width: 400px;
// 	margin: 1% auto 1% auto;
// }

// .sign {
// 	border-left: 1px solid #000;
// }

.memImg {
	border-radius: 12px;
	max-width: 100%;
	@media print {
		max-width: 7cm;
	}
}

// .memImgPrint {
// 	width: 200px;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .signInput {
// 	width: 400px;
// 	height: 200px;
// 	margin: 10px;
// }

// table {
// 	width: 100%;
// 	border-radius: 12px;

// 	th,
// 	td {
// 		border: 1px solid gray;
// 		padding: 8px;
// 		// text-align: center;
// 	}

// 	tr {
// 		height: 250px;
// 		page-break-inside: avoid;
// 	}

// 	td {
// 		width: 10%;
// 	}

// 	thead>tr {
// 		height: 50px;
// 	}

// 	thead>tr>th,
// 	tbody>tr>td {
// 		width: 100px;
// 	}
// }


// .container.chehov-main-container fieldset {
// 	border-radius: 12px;
// 	background-color: #fffdca;
// 	border: none !important;
// }