.googleIcon{
    width: 100%;
    text-align: center;
    position: relative;

    textarea{
        // border-radius: 10px;
        padding-left: 40px;
        padding-top: 15px;
        line-height: 30px;
    }

    
}

.googleIcon::before{
    content: '';
    position: absolute;

    top: 171px;
    left: 9px;

    height: calc(25px*5);
    width: 24px;

    background-image: url(../images/DV-31/DV-31-HistoryIcon.svg);
    background-repeat: space;
}