select {
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;

	outline: none;

	border: 1px solid lightgrey;

	option {
		font-weight: 600;
	}
}

fieldset {
	line-height: 2;
}

.printOnly input {
	width: 5cm !important;
	height: 0.7cm !important;
}