.space {
    margin-left: 10px;
    display: inline-block;
    font-size: 10pt;


    >input {
        width: 30px;
        height: 8mm;
        text-align: right;
    }
}

.weight {
    font-weight: 700;
}

.square {
    width: 100px;
    height: 100px;
    background: orange;
    display: inline-block;
    position: absolute;
    left: 12cm;
}

.wrapper {
    position: relative;
}