.tic-tac-toe {
	width: 300px;
	// border: 1px solid black;
	margin: 1% auto 1% auto
}

.square {
	width: 100px;
	height: 100px;
	padding: 0px 2px 0 2px;
}

.rightB {
	border-right: 1px solid black;
}

.leftB {
	border-left: 1px solid black;
}

.topB {
	border-top: 1px solid black;
}

.bottomB {
	border-bottom: 1px solid black;
}



.container.chehov-main-container fieldset {
	border-radius: 12px;
	background-color: #fffdca;
	border: none !important;
}

.TicTacToe {
	margin-bottom: 5px;
}

.facts {
	li {
		margin-top: 1.5rem;
	}

	p {
		text-indent: 1.5rem;
		margin-top: 0;
		margin-bottom: 0;

		&:first-of-type {
			text-indent: inherit;
		}
	}

}

$cellSize: 50px;

.chehov-main-container {
	padding-top: 3 * $cellSize;
	// position: relative;

	@media (min-width:940px) {
		padding-top: 0;
	}
}


.result {
	position: fixed;
	top: 78px;
	right: 24px;


	width: 3 * $cellSize + 4;
	border: 1px solid black;
	height: 3 * $cellSize + 4;
	background-color: #fff;

	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	// right: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

	.r {
		background-color: #fff;
		background-position: center;
		background-repeat: no-repeat;

		background-size: 64%;
	}

	.r-true {
		// background-color: green;
		background-image: url(../images/OB-2/cross.svg);
	}

	.r-false {
		// background-color: yellow;
		background-image: url(../images/OB-2/circle.svg);
	}

	// position: relative;

	.x {
		position: absolute;
		width: 100%;
		height: 2px;
		z-index: 1;
		background-color: gray;
		left: 0;
		top: $cellSize;

		+.x {
			top: 2 * $cellSize;
			// background-color: red;
		}
	}

	.y {
		position: absolute;
		width: 2px;
		height: 100%;
		z-index: 1;
		background-color: gray;
		left: $cellSize;
		top: 0;

		+.y {
			left: 2 * $cellSize;
			// background-color: red;
		}
	}
}