.tic-tac-toe {
    // width: 100%;
    border: 1px solid black;
    padding: 1px;
    margin: 1% auto 1% auto
}

  
  
  
  .container.chehov-main-container fieldset {
    border-radius: 12px;
    background-color: #fffdca;
    border: none !important;
  }