// legend {
// 	font-size: 18px;
// }

fieldset {
	border-radius: 12px;
	border: none;

	@media print {
		page-break-inside: avoid;
	}
}

ul {
	list-style: none;

	li {


		span {
			margin-left: 10px;
		}

		@media print {
			display: inline-block;
			padding-left: 40px;
		}
	}
}