legend {
    font-size: 18px;
}

fieldset {
    @media print {
        page-break-inside: avoid;
    }
}

ul {
    list-style: none;

    li {

        span {
            margin-left: 10px;
        }

    }
}



