form[name="form-ob-6"] {
   li {
      display: grid;
      grid-template-columns: auto 1fr;
   }

   .badge {
      white-space: normal;
      text-align: start;

      display: inline-grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.2rem;
   }

   margin-left: 90px;
   @media (max-width: 360px) {
      margin-left: inherit;
   }
}