@import "variables/variables";

form[name="chehov-form-ob-6"] {
   li {
      display: grid;
      grid-template-columns: auto 1fr;
   }

   .badge {
      white-space: normal;
      text-align: start;

      display: inline-grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.2rem;

      &:hover {
         background-color: var(--bs-blue) !important;
      }
   }

   margin-left: 90px;
   @media (max-width: $mobilePhoneWidth) {
      margin-left: inherit;
   }
}