.letter {
    background-image: url('../images/letter.png');
    background-size: 100% auto;
    border: 1px solid black;
    margin-bottom: 10%;
    padding: 3%;
    
}
.manuscript {
    font-size: large;
    font-family: cursive;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;
  }