$w: 22.5px;
$letterCounter: 27;

@for $i from 0 through $letterCounter {
    .x#{$i} {
        left: $w * $i;
    }

    .y#{$i} {
        top: $w * $i;
    }
}

.crossword-wrapper {
    width: 100%;
    overflow-x: auto;
    .crossword {
        height: 480px;
        width: 613px;
    
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
        >input {
            position: absolute;
            border: 1px solid #888;
            border-radius: 2px;
            background-color: #fff;
            width: $w;
            height: $w;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $w;
            font-family: sans-serif;

				// background-color: red;
				// opacity: 0.5;
        }
    
        >.number {
            position: absolute;
            border-radius: 2px;
            background-color: #fff;
            width: $w;
            height: $w;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #ff77c9;
            font-weight: bold;
            font-family: sans-serif;
        }
    
        .question {
            position: absolute;
            top: 500px;
        }
    }
}

@media print {
    .crossword {
        margin-top: 240px;
    }
}