.logoLetsMarry{
    margin-bottom: 40px;
    text-align: center;
}

.textAreaGaev {
    position: relative;
 
    &::after {
       content: 'Гаев';
       position: absolute;
       top: 32px;
       right: 0;
       transform: rotate(90deg);
       font-weight: bold;
       opacity: 0.3;
    }
 }

 .textAreaLopahin {
    position: relative;
 
    &::after {
       content: 'Лопахин';
       position: absolute;
       top: 32px;
       right: -18px;
       transform: rotate(90deg);
       font-weight: bold;
       opacity: 0.3;
    }
 }

 .textAreaTrofimov {
    position: relative;
 
    &::after {
       content: 'Трофимов';
       position: absolute;
       top: 32px;
       right: -20px;
       transform: rotate(90deg);
       font-weight: bold;
       opacity: 0.3;
    }
 }