table {
    margin-bottom: 50px;

    th,
    td {
        border: 1px solid black;
    }

    tr {
        height: 50px;
    }
}

#i {
    font-weight: 700;
    font-style: italic;
}

p {
	text-indent: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
}