$w: 20px;
$letterCounter: 27;

@for $i from 0 through $letterCounter {
    .x#{$i} {
        left: $w * $i;
    }
    .y#{$i} {
        top: $w * $i;
    }
}

.crossword {
    height: $letterCounter * $w;
    width: $letterCounter * $w;
    background-color: #eee;
    
    position: relative;
    
    >div {
        position: absolute;
        border: 1px solid #888;
        border-radius: 2px;
        background-color: #fff;
        width: $w;
        height: $w;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $w;
        font-family: sans-serif;
        >input {
            padding: 0;
            margin: 0;
            width: 18px;
            height: 18px;
        }
    }
}
