.bigForPrint {
    @media print {
        height: 4cm;
    }
}

.avoidBreakInside{
    @media print {
        page-break-inside: avoid;
    }
}


p {
	text-indent: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;

	&:first-of-type {
		text-indent: inherit;
	}
}