form {
    margin-top: 10px;

    textarea {
        height: 100px;
    }

    input {
        margin-top: 10px;
    }
}

.letter {
    display: grid;
    grid-template-columns: 12% 1fr;
    grid-column-gap: 20px;
    border: 1px solid #ddd;

    .left-pane {
        background-image: url(../images/VS-17/gmail-left-pane.JPG);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #f6f7f9;
    }

    .right-pane {

        .mail-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .speechAuthor {
                width: 80px;
            }

            .date {
                font-size: 14px;
                color: #777;
                margin-right: 20px;
            }
        }

        .recipient {
            display: block;
            margin-top: 20px;
            font-size: 14px;
            color: #777;
        }

        .text {
            display: flex;
            justify-content: center;

            p {
                margin-top: 20px;
                width: 85%;
                font-size: 14px;
            }
        }
    }

}


.k-letter {
	margin-top: 20px;
	padding-left: 85px;
	display: grid;
	grid-template-columns: 1fr 11fr;
	grid-gap: 20px;

	@media (max-width:420px) {
		padding-left: 16px;
	}

	>div:first-child {
		background-image: url(../images/VS-15/gmail.jpg);
		background-size: 100%;
		border-radius: 4px;
	}

	.grey {
		font-weight: bold;
		opacity: 0.35;
	}

	p {
		text-indent: 1.5rem;
		margin-top: 0;
		margin-bottom: 0;
	}
}