@import "variables/variables";

.container.chehov-main-container fieldset {
 	border-radius: 12px;
 	background-color: #fffdca;
 	border: none !important;
 	page-break-inside: avoid;
 }

 textarea:not([readonly]) {
 	@media print {
 		height: 4.5cm;
 	}
 }

 textarea {
	@media (max-width: $mobilePhoneWidth) {
		height: 140px;
	}
 }