h1 {
    text-align: center;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;

    @media print {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .card {
        padding: 10px;
        margin-top: 30px;

        @media print {
            display: inline-block;
            width: 50%;
        }
    }

    .card1 {
        background-color: blanchedalmond;
        transform: rotate(2deg);
    }

    .card2 {
        background-color: skyblue;
        transform: rotate(-2deg);

        @media print {
            height: 90%;
        }
    }

    .card3 {
        background-color: azure;
        transform: rotate(2deg);

        @media print {
            height: 60%;
        }
    }

    .card4 {
        background-color: thistle;
        transform: rotate(-2deg);
    }

    .card5 {
        background-color: floralwhite;
        transform: rotate(2deg);
    }
}

.btn {
    margin-top: 20px;
}