table {
   width: 100%;
   border-radius: 12px;

   th,
   td {
      border: 1px solid gray;
      padding: 8px;
      // text-align: center;
   }

   tr {
      height: 250px;
      page-break-inside: avoid;
   }

   td {
      width: 10%;
   }

   thead>tr {
      height: 50px;
   }

   thead>tr>th,
   tbody>tr>td {
      width: 100px;
   }
}

.textAreaShapiro {
   position: relative;

   &::after {
      content: 'Шапиро';
      position: absolute;
      top: 32px;
      right: -18px;
      transform: rotate(90deg);
      font-weight: bold;
      opacity: 0.3;
   }
}

.textAreaZakharov {
   position: relative;

   &::after {
      content: 'Захаров';
      position: absolute;
      top: 32px;
      right: -18px;
      transform: rotate(90deg);
      font-weight: bold;
      opacity: 0.3;
   }
}

.container.chehov-main-container fieldset {
   border-radius: 12px;
   background-color: #fffdca;
   border: none !important;
}

// .answer-VS-26 {
//    display: grid;
//    grid-template-columns: 15% 1fr 1fr;
//    grid-template-rows: 50px 50px 50px 50px 50px;
//    grid-column-gap: 10px;
//    grid-row-gap: 20px;
//    border: 1px solid black;
//    border-radius: 20px;
//    padding: 20px;
//    grid-template-areas:
//       "c1s1 c2s1 c3s1"
//       "c1s2 c2s2 c3s2"
//       "c1s3 c2s3 c3s3"
//       "c1s4 c2s4 c3s4"
//       "c1s5 c2s5 c3s5"
// }

// #c1s2 {
//    grid-area: c1s2;
// }

// #c1s3 {
//    grid-area: c1s3;
// }

// #c1s4 {
//    grid-area: c1s4;
// }

// #c1s5 {
//    grid-area: c1s5;
// }

// #c2s1 {
//    grid-area: c2s1;
// }

// #c3s1 {
//    grid-area: c3s1;
// }

// #c2s2 {
//    grid-area: c2s2;
// }

// #c2s3 {
//    grid-area: c2s3;
// }

// #c2s4 {
//    grid-area: c2s4;
// }

// #c2s5 {
//    grid-area: c2s5;
// }

// #c3s2 {
//    grid-area: c3s2;
// }

// #c3s3 {
//    grid-area: c3s3;
// }

// #c3s4 {
//    grid-area: c3s4;
// }

// #c3s5 {
//    grid-area: c3s5;
// }