.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10% 70% 10% 20% 10% 10% 10%;
}

.line {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.photo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.userPhoto {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.userPhotoName {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.friendsMassege {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.publish {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.round {
    border-radius: 50%;
    width: 70%;
    margin-top:-20%;
}

.cap {
    display: block;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}