table,
td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
}


td {
    padding: 5px;
    border: 1px solid black;
}

.avatar {
    border-radius: 50%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}